@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  border: solid 2px black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
}

h1, h2, p, a, iframe {
  margin: 0 0 1rem 0;
  color: black;
}

h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

.content {
  width: 100%;
}

iframe {
  width: 100%;
  border-radius: 2rem;
  border: solid 2px black;
  height: 400px;
}

.download-button {
	display: inline-flex;
	padding: 0.5rem 0.5rem;
	padding-right: 0rem;
	border-radius: 2rem;
	background-color: black;
	color: white;
}

.download-button i {
  margin-right: 0.5rem;
}

.download-button:hover {
  background-color: darkgray;
}

a {
  text-decoration: none;
}

blockquote {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #e0e0e0;
  border-left: 5px solid black;
  border-radius: 2rem;
  font-style: italic;
}
