@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #121212;
  color: white;
}

.container {
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  border: solid 2px black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode .container {
  background-color: #1e1e1e;
  color: white;
  border-color: white;
}

h1, h2, p, a, iframe {
  margin: 0 0 1rem 0;
  color: black;
  transition: color 0.3s ease;
}

body.dark-mode h1, body.dark-mode h2, body.dark-mode p, body.dark-mode a, body.dark-mode iframe {
  color: white;
}

h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

.content {
  width: 100%;
}

iframe {
  width: 100%;
  border-radius: 2rem;
  border: solid 2px black;
  height: 400px;
  transition: border-color 0.3s ease;
}

body.dark-mode iframe {
  border-color: white;
}

.download-button {
  display: inline-flex;
  padding: 0.5rem 0.5rem;
  padding-right: 0rem;
  border-radius: 2rem;
  background-color: black;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode .download-button {
  background-color: white;
  color: black;
}

.download-button i {
  margin-right: 0.5rem;
}

.download-button:hover {
  background-color: darkgray;
}

a {
  text-decoration: none;
  color: #197bd1; /* Material Dark Blue color for dark mode */
  border-bottom: 1px dashed #0d47a1;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
  background-color: rgba(13, 71, 161, 0.2); /* Dark Blue highlight */
}

body.dark-mode a {
  color: #4ca0ea; /* Material Blue color */
  border-bottom: 1px dashed #1e88e5;
}

body.dark-mode a:hover {
  background-color: rgba(30, 136, 229, 0.2);
}

blockquote {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #e0e0e0;
  border-left: 5px solid black;
  border-radius: 2rem;
  font-style: italic;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

body.dark-mode blockquote {
  background-color: #333;
  border-color: white;
  color: white;
}
.dark-mode-toggle {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: white;
  border: solid 2px;
  border-radius:2rem;
  padding: 1.2rem;
  cursor: pointer;
  font-size: 24px;
  color: black;
  transition: color 0.3s ease;
}

body.dark-mode .dark-mode-toggle {
  color: white;
  background-color:black
}
p {
  line-height: 1.6; /* Improve readability with increased line height */
  margin: 0 0 1rem 0; /* Optional: Adjust margin as needed */
  color: black;
  transition: color 0.3s ease;
}
body.dark-mode p {
  color: white;
}
.odkaz{
  cursor: pointer;
  display: inline-flex;
  padding: 0.5rem 0.5rem;
  border: solid 2px white;
  border-radius: 2rem;
  background-color: black;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Quicksand', sans-serif;
}
body.dark-mode .odkaz {
  background-color: white;
  color: black;
  border: solid 2px black;
}
.odkaz:hover {
  cursor: pointer;
  background-color: darkgray;
}
